{% extends "testapp/base.html" %}

{% block title %}Home{% endblock %}

{% block content %}
<h1>Home</h1>

{% if groups %}
    <h2>Groups</h2>
    <ul>
        {% for group in groups %}
            <li>{{ group.name }}</li>
        {% endfor %}
    </ul>
{% else %}
    <p>No groups available.</p>
{% endif %}

<a href="{% url 'create_test_from_file' %}" class="btn btn-custom"><i class="fas fa-plus"></i> Create Test from File</a>
{% endblock %}



<div class="fixed-buttons">
    <a href="/students/" class="btn btn-custom view-all-students-button"><i class="fas fa-users"></i> View All Students</a>
    <a href="/all-tests/" class="btn btn-custom all-tests-button"><i class="fas fa-list"></i> View All Tests</a>
    <a href="/create-test-from-file/" class="btn btn-custom create-test-button"><i class="fas fa-plus"></i> Create New Test</a>
</div>