{% extends "testapp/base.html" %}

{% block title %}Home{% endblock %}

{% block content %}
<header>
    <h1>Home</h1>
</header>

<div class="container">
    {% if groups %}
        <h2>Groups</h2>
        <ul>
            {% for group in groups %}
                <li><a href="{% url 'group_tests' group.id %}" class="group-link">{{ group.name }}</a></li>
            {% endfor %}
        </ul>
    {% else %}
        <p>No groups available.</p>
    {% endif %}
</div>

<div class="fixed-buttons">
    <a href="/students/" class="btn btn-custom view-all-students-button"><i class="fas fa-users"></i> View All Students</a>
    <a href="/all-tests/" class="btn btn-custom all-tests-button"><i class="fas fa-list"></i> View All Tests</a>
    <a href="/create-test-from-file/" class="btn btn-custom create-test-button"><i class="fas fa-plus"></i> Create New Test</a>
</div>
{% endblock %}
