{% extends "testapp/base.html" %}

{% block title %}Student Detail{% endblock %}

{% block content %}
<h1>Student Detail: {{ student.name }}</h1>
<form method="post">
    {% csrf_token %}
    <div class="form-group">
        {{ form.name.label_tag }}{{ form.name }}
    </div>
    <div class="form-group">
        {{ form.test_group.label_tag }}{{ form.test_group }}
    </div>
    <div class="form-group">
        {{ form.current_test.label_tag }}{{ form.current_test }}
    <div class="form-group">
        <label for="id_start_index">Start Index:</label>
        <input type="number" name="start_index" id="id_start_index" value="{{ form.start_index.value }}" >
        <span>前回: {{ student.start_index }}～{{student.last_index}}</span>
    </div>
    <div class="form-group">
        <label for="id_last_index">Last Index:</label>
        <input type="number" name="last_index" id="id_last_index" value="{{ form.last_index.value }}" >
        <a href="{% url 'print_test' %}"></a>
    </div>
    <div class="form-group">
        {{ form.notes.label_tag }}{{ form.notes }}
    </div>
    <button type="submit" class="btn btn-custom"><i class="fas fa-save"></i> Save</button>
</form>
<a href="{% url 'student_list' %}" class="btn btn-custom"><i class="fas fa-arrow-left"></i> Back to Student List</a>
{% endblock %}
